name: rust-bench
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]

jobs:
  rust-bench:
    name: Run rust-bench
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./.github/actions/setup-rust
        with:
          channel: nightly
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y fuse3 libfuse3-dev
      - name: Run rust-bench
        run: |
          cargo bench --locked --all-features
