name: format
on:
  pull_request:
  push:
jobs:
  rust_check_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: ./.github/actions/setup-rust
      - name: run check format
        run: cargo fmt --check
        env:
          RUST_BACKTRACE: 1
