name: format
on:
  pull_request:
  push:
jobs:
  rust_check_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./.github/actions/setup-rust
      - name: run check format
        run: cargo fmt --check
        env:
          RUST_BACKTRACE: 1
