name: format
on:
  pull_request:
  push:
jobs:
  rust_check_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./.github/actions/setup-rust
      - name: run check format
        run: cargo fmt --check
        env:
          RUST_BACKTRACE: 1
