name: Publish Rust crate

on:
  push:
    tags:
      - '*'

concurrency:
  group: "publish"
  cancel-in-progress: false

jobs:
  publish:
    name: Publish crate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true
      - uses: ./.github/actions/setup-rust
      - name: install dependencies
        run: |
          sudo apt update
          sudo apt install -y fuse3 libfuse3-dev
      - name: Publish pnafs crate
        run: cargo publish -p pnafs
        working-directory: .
        env:
          CARGO_REGISTRY_TOKEN: "${{ secrets.CRATES_IO_API_KEY }}"
