name: test
on:
  merge_group:
  pull_request:
  push:

# env:
#   RUST_BACKTRACE: 1

jobs:
  rust_doc_test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-22.04-arm
          # - freebsd-latest # self-hosted
        rust:
          - '1.85' # msrv
          - stable
          - beta
          - nightly
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - id: install_rust
        uses: ./.github/actions/setup-rust
        with:
          channel: ${{ matrix.rust }}
          default: false
      - name: Install dependencies
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt update
          sudo apt install -y fuse3 libfuse3-dev
      - name: Install dependencies
        if: startsWith(matrix.os, 'freebsd')
        run: |
          sudo pkg install -y pkgconf fusefs-libs3
      - uses: actions/cache@a7833574556fa59680c1b7cb190c1735db73ebf0 # v5.0.0
        with:
          path: target
          key: ${{ matrix.os }}-rust-${{ steps.install_rust.outputs.version }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ matrix.os }}-rust-${{ steps.install_rust.outputs.version }}
      - name: Run test
        run: cargo +${{ matrix.rust }} test --locked --release
      - name: Install portable-network-archive from crates.io
        uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3.3.2
        with:
          crate: portable-network-archive
          cache-key: ${{ matrix.os }}
      - name: Install cli
        run: |
          cargo +${{ matrix.rust }} install --locked --path .
      - name: Run test cli
        shell: bash
        run: |
          chmod +x -R scripts/tests
          ./scripts/tests/run.sh
