name: test
on:
  merge_group:
  pull_request:
  push:

# env:
#   RUST_BACKTRACE: 1

jobs:
  rust_doc_test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-22.04-arm
          # - freebsd-latest # self-hosted
        rust:
          - '1.85' # msrv
          - stable
          - beta
          - nightly
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - id: install_rust
        uses: ./.github/actions/setup-rust
        with:
          channel: ${{ matrix.rust }}
          default: false
      - name: Install dependencies
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt update
          sudo apt install -y fuse3 libfuse3-dev
      - name: Install dependencies
        if: startsWith(matrix.os, 'freebsd')
        run: |
          sudo pkg install -y pkgconf fusefs-libs3
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: target
          key: ${{ matrix.os }}-rust-${{ steps.install_rust.outputs.version }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ matrix.os }}-rust-${{ steps.install_rust.outputs.version }}
      - name: Run test
        run: cargo +${{ matrix.rust }} test --locked --release
      - name: Install portable-network-archive from crates.io
        uses: baptiste0928/cargo-install@f204293d9709061b7bc1756fec3ec4e2cd57dec0 # v3.4.0
        with:
          crate: portable-network-archive
          cache-key: ${{ matrix.os }}
      - name: Install cli
        run: |
          cargo +${{ matrix.rust }} install --locked --path .
      - name: Run test cli
        shell: bash
        run: |
          chmod +x -R scripts/tests
          ./scripts/tests/run.sh
